---
import { Image } from "astro:assets";
import { glob } from "glob";
import HomeHeader from "./HomeHeader.astro";

// Función para obtener las imágenes
async function ImageFetcher(pattern: string) {
  const files = glob.sync(pattern, { posix: true });
  const imageFiles = files.map((file) => ({
    src: file.replace("public", ""), // Remover "public" para las rutas en producción
  }));

  imageFiles.sort((a, b) => a.src.localeCompare(b.src));

  return imageFiles;
}

const pathDev = "public/images/gallery/*.{jpg,jpeg,png,webp}";
const pathProd = "images/gallery/*.{jpg,jpeg,png,webp}";


const environment = import.meta.env.ENVIRONMENT;

let imageFiles = await ImageFetcher(
  environment === "prod" ? pathProd : pathDev
);
---

<HomeHeader title={"Galería"} description={""} />

<div id="main">
  {
    imageFiles.map((img) => (
      <article class="thumb">
        <a class="image" href={img.src}>
          <Image src={img.src} width="1200" height="750" alt="Imagen" />
        </a>
        <h2 />
        <p />
      </article>
    ))
  }
</div>
